<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/home.css">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;   
    }
    nav{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    nav button{
        width: 100px;
        height: 30px;
        
    }
    label {
        font-weight: bold;
    }
    
    
    select {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
    }
    
    
    option {
        font-size: 16px;
    }
    
    
    .container {
        display: flex;
        align-items: center;
        gap: 10px;
    }
</style>
</head>
<body>
    <nav>
        
        <h1>Home</h1>
        <h3>Welcome <%= user %></h3>
        <h3 disabled>Password: <%= password %></h3>
        <button onclick="logout()">logout</button>
    </nav>
    <form action="/postedudetails/admin" method="post">
    <h1>Admin Details</h1>
    <div class="container">

        <label for="dropdown">Criminal Case:</label>
        <select id="dropdown" name = "criminalCase">
            <option value="select" disabled selected>select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </div>
    <br>
        <div>
            
        <label for="education">Education Details</label>
        <select  id="education" name = "educationDetails">
            <option value="select" disabled selected>--select--</option>
            <option value="ug degree" >UG DEGREE</option>
            <option value="pg degree" >PG DEGREE</option>
            <option value="ug masters" >UG MASTERS</option>
            <option value="pg masters" >PG MASTERS</option>
        </select>
    </div>
    <label for="age">AGE :</label>
    <input type="text" id="age" maxlength="2" name = "age">
    <code disabled>//Applicable for above 17 years</code><br>
    <label for="nationality">nationality :</label>
    <input type="text" id="nationality" style="text-transform:uppercase;" name = "nationality">
    <input type="text" id="url" name="url" placeholder="link">
    <input type="submit" value="Submit">
</form>
  
    <script src= '/scripts/homelogout.js'></script>

</body>
</html>